thead tr {
	background-color: #305FAF;
	color: #FFFFFF;
	font: normal 11px Tahoma, sans-serif;
}

th.sorted {
	background-color: #6F4F62;
}

th a,th a:visited {
	color: #D5CCAE;
	font-weight: normal;
}

th a:hover {
	font-weight: normal;
	color: #D5CCAE;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	color: #D5CCAE;
	width: 100%;
	font-weight: normal;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
	font-weight: normal;
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
	font-weight: normal;
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
	font-weight: normal;
}

tr.odd {
	background-color: #E9F2FA;
	font: normal 11px Tahoma, sans-serif;
}

tr.tableRowEven,tr.even {
	background-color: #D0E1F2;
	font: normal 11px Tahoma, sans-serif;
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
}

span.csv {
	background-image: url(../img/ico_file_csv.png);
}

span.xml {
	background-image: url(../img/ico_file_xml.png);
}

span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../img/ico_file_rtf.png);
}

