/* #right box */

#right .box {
	width:190px;
	margin:-1px 0 7px 0;
}

#right h2 {
	background:url(../img/menu/sidenav.png) no-repeat;
	font-size:12px;
	height:16px;
	line-height:16px;
	margin:0px;
	padding:6px 10px;
	display:block;
	text-decoration:none;
	color:#666666;
	letter-spacing:0px;
}

#right h2.ruby {
	background-position:0 -255px;	
	color:#fff;	
}

#right h2.active {
	background-position:0 -192px;	
	color:#fff;		
	height:17px;
}


#right .inside, #right .box ul {
	background:url(../img/menu/sidenav_strip.jpg) no-repeat;
}

#right .gradient {
	background:#f0f6f7 url(../img/menu/h300.png) repeat-x;	
	margin:0 3px;	
	padding:6px 8px;
}

#right .gradient.ruby {
	background:#fff url(../img/menu/h150.png) repeat-x;
}

#right .clear {
	background:url(../img/menu/sidenav.png) no-repeat 0 -353px;
	height:10px;	
}


/* box content */
#right .box ul {
	margin:0;
	padding:0;
}

#right .box li {	
	list-style-type:none;
	margin-right : 10px;		
}

#right .box a,label {
	display:block;
	padding:5px 12px;
	border-bottom:1px solid #ddd;
	text-decoration:none;	
	font-size:11px;
	margin:0px 3px;
	color:#00559E;
}

#plugins_index #right .box a {
	padding:4px 8px;
	font-size:11px;
}

#right .box a:hover {
	background-color:#efefef;
	color:black;
	
}



#right .box a.selected, #right .box a.selected:hover {
	background-color:#666;
	color:#fff;
	cursor:default;
}

#right .box input.text {
	width:150px;		
}
