/*Ce document présente les styles standard d'une app web et serait parametrable*/
/*------------------ Objets HTML--------------------------------------------*/
BODY {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
TD.TexteGras{font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;font-weight: bold;}
TD.TexteSimple{font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;font-weight: normal;}

TD {font-size: 10px;font-family: Verdana,Arial, Helvetica, sans-serif;}

TD.chemin {COLOR: #013c65; TEXT-DECORATION: none;font-size: 10px;font-family: Verdana,Arial, Helvetica, sans-serif;}
TR {font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;}
LI {font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;}
P {font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;}
DIV {font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;}

/*------------------ Liens -------------------------------------------------*/

A.normallink:link {COLOR: #006699; TEXT-DECORATION: none}
A.normallink:visited {COLOR: #006699; TEXT-DECORATION: none}
A.normallink:hover {COLOR: #cc3300; TEXT-DECORATION: underline}

/*------------------ Objets de formulaire-----------------------------------*/
	
SELECT {
	font-size: 11px;
	color: #000000;
	border-top-style: #222222 1px solid;
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	border-right-style: #222222 1px solid;
	border-left-style: #222222 1px solid;
	background-color: #ffffff;
	border-bottom-style: #222222 1px solid;
}
OPTION { 
	font-size: 11px;
	color: #000000;
	border-top-style: #222222 1px solid;
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	border-right-style: #222222 1px solid;
	border-left-style: #222222 1px solid;
	background-color: #ffffff;
	border-bottom-style: #222222 1px solid;
}
TEXTAREA {
	font-size: 11px;
	color: #000000;
	border-top-style: groove;
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	border-right-style: groove;
	border-left-style: groove;
	background-color: #ffffff;
	border-bottom-style: groove;
}
INPUT {
	border-right: #222222 1px solid;
	border-top: #222222 1px solid;
	
	font-size: 11px;
	background: #ffffff;
	border-left: #222222 1px solid;
	color: #000000;
	border-bottom: #222222 1px solid;
	font-family: Verdana, Verdana, helvetica, sans-serif;
}
INPUT.Boutton {
font-family:tahoma,sans-serif;
font-size:11px;
background: #D6E7EF;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5; 
color:#000066;
text-decoration:none;
cursor: hand
font-weight: normal;
}

INPUT.Normal {
font-size:11px;
background: #FFFFFF;
border-bottom: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;
border-left: 1px solid #FFFFFF;
border-top: 1px solid #FFFFFF; 
color:#FFFFFF;
font-weight: normal;
}

INPUT.radio {
font-size:11px;
background: #FFFFFF;
border-bottom: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;
border-left: 1px solid #FFFFFF;
border-top: 1px solid #FFFFFF; 
color:#FFFFFF;
font-weight: normal;
}

.FermerLeNoue{display:none; visibility:hidden }
.OuvrirLeNoue{visibility:visible }

TD.back
{
	background: #ffffff;
}
TD.back2
{
	background: #eeeeee;
	width:5%;
}
TD.question
{
	background: #eeeeee;
	width:80%;
}
TD.reponse
{
	background: #eeeeee;
	width:20%;
}
TD.menugacuhe
{
	font-size: 11px;
    height : 20; 
	background: #eeeeee;
	font-family: Verdana, Arial, Helvetica, sans-serif; color:#006699;TEXT-DECORATION: none;
    cursor:hand;
}

TABLE.border
{
	background: #222222;
	color: black;
}
td.tableTitle{
	font-size :10;
	color:#006699;
	text-align : left;
	font-family: Verdana, Helvetica, sans-serif;background: #5788BF;height: 22 px;
}
tr.x{background-color:#E9F2FA; color:Black;font-family: Verdana, Helvetica, sans-serif;font-size:8pt;}
tr.y{background-color:#FFFFFF; color:Black;font-family: Verdana, Helvetica, sans-serif;font-size:8pt;}
tr.ltrue{background-color:#E9F2FA; color:Black;font-family: Verdana, Helvetica, sans-serif;font-size:8pt;}
tr.lfalse{background-color:#FFFFFF; color:Black;font-family: Verdana, Helvetica, sans-serif;font-size:8pt;}
A.lll:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.lll:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.lll:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
TD.info
{
FONT-WEIGHT: bold;
	font-size: 11px;

	background: #305FAF;
	color: #ffffff;
	font-family: Verdana, Helvetica, sans-serif;
}

.ChargementBordureGauche {
	background-image: url(../img/commun/background-gauche-load.gif);
	background-repeat: no-repeat;
	background-position: left;
}
.ChargementOmbreBas {
	background-image: url(../img/commun/background-bas-load.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
.ChargementOmbreDroit {
	background-image: url(../img/commun/background-droit-load.gif);
	background-repeat: no-repeat;
	background-position: right;
}
.hautCadreJauge {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #11673C;
}
.entetetableauConnexion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #006699;
	background-image: url(../img/index/background-entete.gif);
}
.bord-gauche-connexion {
	background-image: url(../img/index/background-bord-gauche.gif);
	background-repeat: repeat-y;
	background-position: left;
}
.bord-droit-connexion {
	background-image: url(../img/index/background-bord-droit.gif);
	background-repeat: repeat-y;
	background-position: right;
}
.footerTableauConnexion {
	background-image: url(../img/index/background-footer.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.tifGaucheTableauConnexion {
	background-image: url(../img/index/tif-bas-gauche.gif);
	background-repeat: repeat-y;
	background-position: bottom;
}
.tifDroitTableauConnexion {
	background-image: url(../img/index/tif-bas-droit.gif);
	background-repeat: repeat-y;
	background-position: bottom;
}
.footerPageConnexion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #11673C;
}
.lblParamConnexion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #565E72;
}
.separateurPageConnexion {
	background-image: url(../img/index/separateur.gif);
	background-repeat: repeat-y;
	background-position: center;
}
.backGroundMenuIndex {
	background-image: url(../img/commun/background-menu-index.gif);
	background-repeat: repeat-x;
}
.cadreMsgErreur {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #BB0408;
	text-decoration:none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #BB0408;
	border-right-color: #BB0408;
	border-bottom-color: #BB0408;
}

.visiblesubmenu
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.submenu
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}